<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etwicaksono.infomovie2">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_info_movie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_info_movie"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoMovie">
        <activity
            android:name=".ui.homelist.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.InfoMovie.NoActionBar" />
        <activity
            android:name=".ui.favoritelist.FavoriteActivity"
            android:exported="false"
            android:theme="@style/Theme.InfoMovie.NoActionBar" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.homelist.HomeActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.homelist.HomeActivity"/>
        </activity>
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>